<!DOCTYPE html>
<html>
  <head>    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">    
    <meta charset="utf-8">
    <title>Research Map</title>    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
<!--     <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"> -->
    
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&key=AIzaSyCZMe3afa1hXz4v9_FzgQ6p2CrKeDGYVtQ"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/markercluster.js"></script>
        
  </head>
  <body>
     <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Research Map<sup>Beta</sup></a>
                <form class="navbar-form pull-left" action="{{ form.action }}" onsubmit="return searchMarker()">
                    {% csrf_token %}
                    <div class="input-append">
                        {% for field in form %} <input class="input-xlarge" id="queryField" {% if field.value %} value="{{field.value}}" {% endif %} type="text" name="{{field.name}}" placeholder="{{field.label}}"> {% endfor %}
                        <button class="btn" type="submit">Go!</button>
                    </div>
                </form>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
